# Create user task
---

- name: Create main user account
  ansible.builtin.user:
    name: "{{ user['username'] }}"
    comment: "{{ user['comment'] }}"
    create_home: true
    groups:
      - wheel
      - mock
    append: true
    password: "{{ user['password'] | password_hash('sha512', 'salt') }}"
